html {
	background-color: #dbd6cf;
	line-height: 1.5;

}


h1, h2, h3 {
	font-family: 'Bevan', cursive;
	color: #79756f;
}

p {
	font-family: ariel, sans-serif;
	line-height: 1.5;
}

ol {
	padding:0;
	color: #713837;
	list-style-type: none;
	font-family: ariel, sans-serif;
}


a {
	color: #713837
}


a:hover {
	color: red;
}


.quote {
	font-style: italic;
	font-size: 1.5rem;
	padding: 35;
	font-family: times-new-roman, serif;
}

b{
	color: #79757c;
	font-style: normal;
}



.neil {
	text-align: right;
	color: #79757c;
	font-family: times-new-roman, serif;
	font-style: italic;
}

ul {
	list-style-type: lower-roman;

}

figcaption {
	font-style: italic;
	font-size: .8rem;
	font-family: ariel, sans-serif;
}

dl {
	font-style: bold;
}
